.content-booking{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  margin-top: -90px;

}

.content-booking h1{
font-size: 20px;
font-weight: 700;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
  color: var(--dark-gray);
  width: 100%;
  margin-bottom: 15px;
  margin-left: 25px;
  margin-top: 30px;


}

.booking-calendar{
  position: relative;
  margin-top: 75px;
}
.booking-calendar h1{
  position: absolute;
  top: -70px;
  left: -20px;
}

@media screen and (max-width :768px) {
  .booking-calendar .react-datepicker{
  height: 328px;
width: 394px;
left: 0px;
top: 0px;
border-radius: 5px;

}
.booking-calendar .react-datepicker__month-container {
    float: none;
}
}
