
.input-container button {
    /* background-color: white !important; */
    color: rgba(0, 0, 0, 0.87) !important;
    font-size: 12px !important;
    line-height: 20px !important;
    text-align: center !important;
    letter-spacing: 0.32px !important;
    border-radius:100% !important;
}

.input-container .calendar {
    height: 401px;
}
