
.input-container button {
    /* background-color: white !important; */
    color: rgba(0, 0, 0, 0.87) !important;
    font-size: 12px !important;
    line-height: 20px !important;
    text-align: center !important;
    letter-spacing: 0.32px !important;
    border-radius:100% !important;
    /* border: 1px solid red !important; */
}
.input-container button:hover{
    background-color:var(--light-blue) !important;
}
.input-container .calendar {
    height: 401px;
}
.react-calendar {
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 10px;
    width: 100% !important;
    /* height: 80%!important; */
}
.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {
    background: var(--light-blue) !important;
}
.react-calendar__tile--active {
    background:var(--light-blue) !important;
}