
.reservation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: rgb(237, 237, 237);
    padding-top: 10px;
    padding-bottom: 10px;
}

.reservation-header {
    width: 95%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: start;
}

.reservation-body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.reservation-step {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.reservation-step p {
    width: 90%;
    margin-bottom: 10px;
}

.reservation-step button {
    width: 90%;
    height: 40px;
    background-color: var(--light-blue);
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    color: var(--white);
    border: none;
}




@media screen and (min-width: 768px) {

    .reservation-step {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 10px;
    }

    .reservation-step p {
        width: 40vw;
    }
    
    .reservation-step button {
        width: 40vw;
    }

    .react-datepicker__navigation--previous {
        left: 50px;
        top: 16px;
      }
      
      .react-datepicker__navigation--next {
        right: 50px;
        top: 16px;
      }

}


@media screen and (min-width: 1060px) {
    .reservation-body {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    
    }

    .reservation-step {
        width: 50%;
        margin-bottom: 10px;
        background-color: var(--white);
        border-radius: 8px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .reservation-step p {
        width: 40%;
    }
    
    .reservation-step button {
        width: 40%;
    }


    /* .react-datepicker__day-name {
        width: 40px;
        margin: 5px;
        color: var(--dark-gray);
        font-weight: 700;
        font-size: 20px;
        line-height: 80px;
      }
      
       .react-datepicker__day {
        width: 40px;
        margin: 5px 5px;
        font-size: 18px;
        line-height: 40px;
      } */
    
}