
:root {
    --input-width-sm: 393.74px;
    --input-height-sm: 38px;
    --input-width-md: 254px;
    --input-height-md: 40px;
    --button-width-md: 166px;
    --button-height-md: 40px;
} 

.search-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--semi-dark-gray);
    z-index: 0;
    width: 100vw;
} 


.search-block form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--input-width-sm);
    position: relative;
}

.search-block h1 {
    padding-left: 9px;
    padding-right: 9px;
    width: calc(100vw - 18px);
    text-align: center;
}

.search-block form input {
    width: var(--input-width-sm);
    height: var(--input-height-sm);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    color: var(--disabled-input-text);
    margin-bottom: 9px;
}

.search-block form button {
    width: 394px;
    height: 48px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    background-color: var(--light-blue);
    color: var(--white);
    border-width: 0px;
}

/* .search-input {
    display: flex;
    flex-direction: row;
}*/

.input-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--disabled-input-text);
    align-items: center;
}

.icon {
    position: absolute;
    left: 0;
    font-size: 20px;
}

@media screen and (min-width: 768px) {

    .search-block form {
        flex-direction: row;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }

    .search-block form input {
        width: var(--input-width-md);
        height: 40px;
        margin-bottom: 0px;
    }

    .search-block form button {
        width: var(--button-width-md);
        height: var(--button-height-md);
    }

    .input-icon {
        width: var(--input-width-md);
        position: relative;
    }

    .icon {
        position: relative;
        top: 0px;
        left: 30px;
    }
   
}

@media screen and (min-width: 1060px) {

    .search-block form input {
        width: 422px;
        height: 40px;
        margin-bottom: 0px;
    }

    .search-block form button {
        width: 422px;
        height: var(--button-height-md);
    }

    .input-icon {
        width: 422px;
        position: relative;
    }

    .icon {
        position: relative;
        top: 0px;
        left: 30px;
    }
   
}